@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.gradient-01 {
    background-image: linear-gradient(
            270deg,
            #d123e1 0%,
            #d18aea 26%,
            #d0c2f4 39%,
            #ceecfd 50%,
            #a9c8f4 61%,
            #7b9eea 74%,
            #2362e1 100%
    );
    filter: blur(125px);
}

.hero-gradient {
    background: linear-gradient(
            97.86deg,
            #a509ff 0%,
            #34acc7 53.65%,
            #a134c7 100%
    );
}

.gradient-02 {
    position: absolute;
    width: 200px;
    height: 440px;
    top: 0px;
    right: 0px;
    background: #2362e1;
    filter: blur(200px);
}

.glassmorphism {
    background: rgba(250, 249, 246, 0.20);
    box-shadow: 0 10px 30px 0 rgba(35, 98, 225, 0.40);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(250, 249, 246, 0.20);
}

.gradient-03 {
    position: absolute;
    width: 400px;
    height: 800px;
    left: 20%;
    top: 6%;
    background: rgba(35, 98, 225, 0.40);
    filter: blur(180px);
    transform: rotate(-112.5deg);
}

.gradient-04 {
    position: absolute;
    width: 3040px;
    height: 100vh;
    left: 30%;
    top: 10%;
    background: rgba(35, 98, 225, 0.80);
    filter: blur(200px);
    transform: rotate(-45deg);
}

.gradient-05 {
    background: linear-gradient(
            180deg,
            rgba(250, 249, 246, 0.06) 0%,
            rgba(250, 249, 246, 0.02) 100%
    );
}

.feedback-gradient {
    position: absolute;
    width: 200px;
    height: 300px;
    left: 0px;
    top: 0px;
    background: #2362e1;
    filter: blur(180px);
}

.footer-gradient {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 40%;
    bottom: 0;
    background: #2362e1;
    filter: blur(140px);
}
